body {
    background-color : seashell;
    font-family: 'Times New Roman', Times, serif;
}
.imagine {
    width: 400px;
    height: 400px;;
}
.container {
    width: 400px;
    
}
body {
    background-color:seashell;
}